/quadratic_equation/nbproject/private/
/careers/nbproject/private/
/careers/build/
/nurse/nbproject/private/
/workers/nbproject/private/
/workers/build/
/movies/nbproject/private/
/movies/build/
/Hospital/nbproject/private/
/Hospital/build/
/company/nbproject/private/
/company/build/
/Brands/nbproject/private/
/Brands/build/
